svg .axis path,
svg .axis line {
	fill:				none;
	stroke:				black;
	shape-rendering:	crispEdges;
}

svg .axis text {
	font-family:		helvetica,sans serif;
	font-size:			0.6rem;
	font-weight:		100;
}

svg text {
	font-family:		helvetica,sans serif;
	font-size:			0.8rem;
	font-weight:		100;
}
