/*	
	Pages are black on white, with a clean font and typographic
	linespacing and thick left margin. Indentation is the same
	width as the left margin; blank space is half this.
*/

BODY, TABLE {
	background:		white;
	color:			black;
	font-family:	Lucida Sans Unicode, Arial, Helvetica, sans serif;
	font-size:		8pt;
	line-height:	4mm;
}

DIV#CONTENT {
	position:		relative;
	top:			8mm;
	left:			12mm;
	padding-left:	8mm;
	width:			auto;
	z-index:		1;
}

DIV#LINK {
	position:		relative;
	top:			8mm;
	left:			210mm;
	width:			auto;
	text-align:		right;
}

DIV#EVAL {
	visibility:		hidden;
}

DIV#RESULT {
	color:			#CC0000;
	text-align:		right;
}

DIV#FOOTNOTE {
	margin-top:		44mm;
	font-size:		7pt;
	color:			#669966;
}


DIV.in {
	margin:			0 0 4mm 16mm;
}

DIV.blank {
	margin:			8mm 0 0 0;
}

/*
	Headings are in larger font rather than bold. Paragraphs have a limited width
	to keep the text readable. Small text can be used anywhere.
*/

H1 {
	font-size:		24pt;
	font-weight:	normal;
	line-height:	16mm;
	margin:			0 0 2mm -8mm;
	color:			#669966;
}

H2 {
	font-size:		12pt;
	font-weight:	normal;
	line-height:	5mm;
	margin:			0 0 4mm -8mm;
}

H3 {
	font-size:			10pt;
	font-weight:		normal;
	text-decoration:	underline;
}

P {
	margin:	0 0 4mm 0;
}

.althead {
	font-size:		12pt;
	font-weight:	normal;
	color:			#669966;
}

.small {
	font-size:	7pt;
}

.colour {
	color:	#669966;
}


EM {
	font-style:	normal;
	color:		#CC0000;
}

SUP {
	vertical-align:	25%;
}

.darkshade {
	background:	#669966;
}

.shade {
	background:	#CCFFCC;
}

.altshade {
	background:	#99CC99;
}

/*
	Tables are close packed, with right aligned columns by default and
	a classes defined for left aligned columns and gaps.
*/

TABLE {
	width: 100%;
	border-collapse:	collapse;
	border:				none;	
}

COL, COLGROUP {
	text-align:	right;

}

COL.left, COLGROUP.left {
	text-align:	left;
}

COL.gap {
	width:		4mm;
	background:	white;
}

COL.centre {
	text-align:	center;
}

TR {
	vertical-align:	baseline;
}


TH {
	background:		#669966;
	color:			white;
	font-weight:	normal;
}

/*	
	Code and other fixed format text are the same width as text.
*/

CODE {
	font-family:	Courier New;
	font-size:		9pt;
}

PRE {
	font-family:	Courier New;
	font-size:		8pt;
	background:		#ECE9D8;
	color:			#669966;
	padding:		1mm;
}

/*
	Links are permanently coloured except when hovering.
*/

A:link {
	color:	#0000CC;
}

A:visited {
	color:	#0000CC;
}

A:hover {
	color:	#CC0000;
}

/*
	The horizontal rule is fine, the same width as text.
*/

HR {
	height:	1px;
	width:	100%;
	color:	#CCCCCC;
}

/*
	Form controls.
*/

INPUT {
	background:		#ECE9D8;
	color:			black;
	font-family:	Lucida Sans Unicode, Arial, Helvetica, sans serif;
	font-size:		8pt;
	border:			solid #CCCCCC 1;
	width:			24mm;
	padding-left:	1mm;
	padding-right:	1mm;
	text-align:		right;
}

INPUT#EVALINPUT {
	text-align:	left;
	width:		40mm;
}

SELECT {
	background:		#ECE9D8;
	color:			black;
	font-family:	Lucida Sans Unicode, Arial, Helvetica, sans serif;
	font-size:		8pt;
}

TEXTAREA {
	background:		#ECE9D8;
	color:			black;
	font-family:	Lucida Sans Unicode, Arial, Helvetica, sans serif;
	font-size:		8pt;
	border:			solid #CCCCCC 1;
	padding-left:	1mm;
}

